* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #fff;
  color: #444;
}

*:focus {
  outline: 3px dotted #de2e54;
  outline-offset: 3px;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.site-logo-footer {
  color: #fff;
}

.logo:hover {
  color: #de2e54;
}

.logo:active {
  opacity: 0.6;
}

.site-logo-footer:active {
  color: #fff;
}

.logo-icon {
  margin-right: 16px;
  border-radius: 50%;
}



/* SITE-NAV */
.sitenav {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  text-decoration: none;
  color: #222;
}

.sitenav-link:hover {
  color: #de2e54;
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-footer .sitenav-link{
  color: #fff;
}
.sitenav-footer .sitenav-link:hover{
  color: #de2e54;
}

.sitenav-footer .sitenav-link:active {
  color: #fff;
}


/* MAIN-LINK */
.main-link {
  display: inline-block;
  padding: 10px 22px;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}


.main-link:hover {
  background-color: #fff;
  color: #de2e54;
}

.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}

.main-link-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.main-link-outline:hover {
  border-color: transparent;
  background-color: #de2e54;
  color: #fff;
}

/* HERO */
.hero {
  background-color: #0eb4c1;
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 500px;
}

.hero-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-text {
  width: 440px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
}

.hero .main-link:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
  border-color: transparent;
}

.hero .main-link:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.hero-img {
  align-self: flex-end;
}

/* SERVICES */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-container {
  padding: 0;
}

.services-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  color: #000;
}

.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 864px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.service:not(:last-child) {
  margin-bottom: 80px;
}

.service-item {
  display: flex;
  align-items: center;
}

.services-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.information {
  width: 600px;
}

.servic-title {
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.servic-info {
  margin: 0;
}

.services-link {
  display: flex;
  justify-content: center;
}

/* LAST-SECTION */
.cta {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0eb4c1;
  color: #fff;
}

.cta-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 1.2;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.connections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection:not(:last-child) {
  margin-right: 40px;
}


/* SITE-FOOTER */
.site-footer {
  background-color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
