* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #fff;
  color: #444;
}

*:focus {
  outline: 2px dotted #de2e54;
  outline-offset: 2px;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  position: relative;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.site-logo-footer {
  color: #fff;
}

.logo:hover {
  color: #de2e54;
}

.logo:active {
  opacity: 0.6;
}

.site-logo-footer:active {
  color: #fff;
}

.logo-icon {
  margin-right: 16px;
  border-radius: 50%;
}



/* SITE-NAV */
.sitenav {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  text-decoration: none;
  color: #222;
}

.sitenav-link:hover {
  color: #de2e54;
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-footer .sitenav-link{
  color: #fff;
}
.sitenav-footer .sitenav-link:hover{
  color: #de2e54;
}

.sitenav-footer .sitenav-link:active {
  color: #fff;
}


/* MAIN-LINK */
.main-link {
  display: inline-block;
  padding: 10px 22px;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-align: center;
}


.main-link:hover {
  background-color: #fff;
  color: #de2e54;
}

.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}

.main-link-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.main-link-outline:hover {
  border-color: transparent;
  background-color: #de2e54;
  color: #fff;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
}

/* HERO */
.hero {
  background-color: #0eb4c1;
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 500px;
  width: 100%;
}

.hero-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-text {
  width: 440px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
}

.hero .main-link:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
  border-color: transparent;
}

.hero .main-link:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.hero-img {
  align-self: flex-end;
}

/* SERVICES */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  color: #000;
}

.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 864px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.service:not(:last-child) {
  margin-bottom: 80px;
}

.service-item {
  display: flex;
  align-items: center;
}

.services-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.information {
  flex-grow: 1;
  width: 600px;
}

.servic-title {
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.servic-info {
  margin: 0;
}

.services-link {
  display: flex;
  justify-content: center;
}

/* LAST-SECTION */
.cta {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0eb4c1;
  color: #fff;
}

.cta-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 1.2;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.connections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.connection:not(:last-child) {
  margin-right: 40px;
}


/* SITE-FOOTER */
.site-footer {
  background-color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width:1100px) {
  .site-header {
    padding-bottom: 16px;
  }

  .site-header-logo {
    margin-right: auto;
  }

  .site-header-main-link {
    margin-right: 24px;
  }

  .site-header-toggle-button {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: #de2e54;
    border-radius: 4px;
    transition: all 0.5s ease;
  }

  .site-header-toggle-button:hover {
    color: #fff;
    background-color: #de2e54;
  }

  .site-header-sitenav {
    display: none;
  }

  .site-header-toggle-button {
    display: block;
  }

  .site-header-open .site-header-sitenav {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
  }

  .site-header-sitenav .sitenav-list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .site-header-sitenav .sitenav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .site-header-sitenav .sitenav-item{
    padding-bottom: 3px;
    border-bottom: 2px solid #de2e54;
  }
}


@media only screen and (max-width:1000px) {
  .hero-content {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-img {
    width: 42%;
    height: auto;
  }

  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services-list {
    width: 100%;
  }

  .services-img {
    margin-right: 32px;
  }
}

@media only screen and (max-width:900px) {
  .site-header .main-link {
    display: none;
  }

  .site-footer-container {
    flex-direction: column;
  }

  .site-logo-footer {
    margin-bottom: 20px;
  }

  .sitenav-footer .sitenav-list{
    flex-wrap: wrap;
    justify-content: center;
  }

  .sitenav-footer .sitenav-item{
    margin: 8px 24px;
  }
}

@media only screen and (max-width:800px) {
  .hero-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-heading {
    font-size: 24px;
  }

  .hero-text {
    width: 100%;
  }
}

@media only screen and (max-width:700px) {
  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services-heading {
    font-size: 24px;
    margin-bottom: 44px;
  }

  .service {
    align-items: flex-start;
  }

  .services-img {
    width: 150px;
    height: 150px;
  }

  .cta-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width:550px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
  }

  .service {
    flex-direction: column;
    align-items: center;
  }

  .service-item:not(:last-child) {
    margin-bottom: 48px;
  }

  .information {
    width: 100%;
  }

  .services-img {
    margin: 0;
    margin-bottom: 20px;
  }

  .servic-title {
    text-align: center;
  }

  .servic-info {
    text-align: justify;
  }

  .hero-img {
    width: 75%;
  }

  .connections {
    flex-direction: column;
  }

  .cta {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .connection:not(:last-child) {
    margin: 0;
    margin-bottom: 24px;
  }
}
